@media (max-width: 390px) {
    header {
        height: auto; 
    }

    header h1 {
        font-size: 40px; 
        margin-top: 10px; 
    }

    nav {
        margin-top: 30px; 
        background-color: white;
        
    }

    #menu ul {
        grid-template-columns: 1fr; 
    }

    #menu a {
        font-size: 16px; 
    }

    main{
        margin-top: 50px;
    }

    .galeria {
        margin-top: 75px;
        grid-template-columns: 1fr; 
        padding: 10px; 
    }

    .galeria img {
        width: 100%; 
        border-radius: 5px; 
    }

    .quienSoy h1,
    .miFormacion h1 {
        font-size: 40px; 
    }

    .quienSoy p,
    .miFormacion p {
        font-size: 18px; 
        margin: 0 10px; 

    .quienSoy img,
    .miFormacion img {
        width: 100%; 
        max-width: 300px; 
    }

    footer {
        padding: 10px; 
    }
}
